@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wdth,wght@0,75..100,100..900;1,75..100,100..900&display=swap');

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* END RESET */

body {
	font-family: "Roboto", sans-serif;
	font-weight: 300;
	background-attachment: fixed;
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	transition: all 1s ease;
}

.header a {
	display: flex;
	position: fixed;
	top: 20px;
	left: 20px;
	gap: 10px;
	color: black;
	filter: invert(1);
	text-decoration: none;
}

.header a img {
	width: 25px;
}

.header a h2 {
	font-weight: 500;
}

.main {
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: 100vh;
}

footer nav {
	display: flex;
	justify-content: center;
	color: black;
	filter: invert(1);
	text-decoration: none;
	gap: 30px;
    margin: 20px;
}

/* Generador de contraseñas */

.key-gen {
    display: flex;
    flex-direction: column;
    justify-content: center;
	background-color: #33333393;
	border-radius: 20px;
	padding: 18px;
    gap: 10px;
	width: 394px;
    height: 110px;
}

.title {
	font-size: 21px;
	font-weight: bolder;
	color: white;
	padding-bottom: 10px;
}

.form {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.form label {
	color: white;
	font-size: 14px;
	font-weight: normal;
	padding-top: 10px;
}

.form input {
	font-size: 14px;
	width: 40px;
	padding: 6px;
	border-radius: 5px;
	border: none;
}

.form button {
	font-size: 12px;
	color: white;
    width: 150px;
	padding: 10px;
    background-color: rgb(40, 238, 109);
    border-radius: 5px;
	border: none;
}

.result {
	font-size: 16px;
    font-weight: bold;
	color: #2196f3;
}

/* Widget Weather */

.widget-weather {
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	background-color: #33333393;
	border-radius: 10px;
	width: 630px;
    height: 338px;
}

.currentWeather {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	width: 450px;
	padding: 24px;
	gap: 15px;
}

.currentWeather h2 {
	font-weight: normal;
	font-size: 20px;
	color: white;
}

.currentWeather p {
	font-size: 18px;
	font-weight: bolder;
	color: rgb(40, 238, 109);
}

.icon-temp {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: flex-end;
}
.icon-temp img {
	width: 70px;
	height: 70px;
	padding-left: 200px;
}

.icon-temp p {
	color: rgb(40, 238, 109);
	font-size: 90px;
	font-weight: bolder;
	min-width: 170px;
	padding-left: 70px;
}

.currentWeather ul {
	color: white;
	font-size: 16px;
	font-weight: normal;
	margin-top: -92px;
}

.currentWeather ul li {
	padding-bottom: 5px;
}

.forecastWeather {
	display: flex;
	overflow-x: scroll;
	scrollbar-width: thin;
	margin-left: 20px;
	width: 588px;
}


.forecastWeather li {
	display: flex;
    flex-direction: column;
    align-items: center;
	gap: 5px;
	padding-bottom: 10px;
}

.forecastWeather li p {
	color: white;
	font-weight: normal;
}

/* LISTADO DE ENLACES */

.linkForm {
	display: grid;
    place-items: center;
    height: 100vh;
}

.link-container {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: center;
	padding: 20px;
	gap: 20px;
	border-radius: 20px;
}

.link-title {
	font-size: 20px;
	font-weight: bold;
	color: white;
}

.link-input {
	display: flex;
	flex-direction: column;
	margin-bottom: 20px;
}

#inputTitle {
	width: 300px;
	margin-bottom: 10px;
	padding: 10px;
	border-radius: 5px;
	border: none;
}

#inputURL {
	width: 300px;
	padding: 10px;
	margin-bottom: 20px;
	border: none;
	border-radius: 5px;
}

.link-input button {
	color: white;
	padding: 10px;
	border: none;
	border-radius: 5px;
	background-color: rgb(40, 238, 109);
	cursor: pointer;
}

.list-url {
	display: flex;
	flex-wrap: wrap;
	width: 320px;
	height: 400px;
	margin-bottom: 10px;
	gap: 20px;
}

.list-url li {
	position: relative;
	display: flex;
	align-items: center;
	min-width: 93px;
	height: 40px;
	border-radius: 5px;
	background-color: #683ab7a4;
	padding: 10px;
	gap: 10px;
}

.list-url li a {
	text-decoration: none;
	color: white;
	#673ab7
}

/* RELOJ DIGITAL */

.main-clock {
	display: grid;
	place-items: center;
	height: 100vh;
}

.digital-clock {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 20px;
	width: 320px;
	height: 150px;
	background-color: #33333393;
	border-radius: 20px;
}

.clock {
	font-size: 56px;
	font-weight: bold;
	padding-bottom: 10px;
	color: rgb(40, 238, 109);
}

.date {
	font-size: 24px;
	font-weight: normal;
	padding-bottom: 10px;
	color: white;
}

.tip {
	font-size: 16px;
	font-weight: bold;
	text-align: center;
	padding-top: 5px;
	color: #2196f3;
}