@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wdth,wght@0,75..100,100..900;1,75..100,100..900&display=swap');

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* END RESET */

body {
	font-family: "Roboto", sans-serif;
	font-weight: 300;
}

.main {
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: 100vh;
}

/* Generador de contraseñas */

.key-gen {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
	background-color: rgba(210, 224, 17, 0.486);
	border-radius: 10px;
	padding: 30px;
    gap: 20px;
}

.title {
	font-size: 20px;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

/* Widget Weather */

.widget-weather {
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	background-color: rgba(210, 224, 17, 0.486);
	border-radius: 10px;
	width: 630px;
    height: 338px;
}

.currentWeather {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-items: center;
	margin: unset;
	width: 450px;
	padding: 24px;
	gap: 15px;
	border-radius: 10px;
}

.currentWeather h2 {
	font-weight: 500;
	font-size: 20px;
	color: blueviolet;
}

.currentWeather p {
	font-size: 16px;
	color: black;
}

.icon-temp {
	display: flex;
	flex-direction: row;
	gap: 123%;
}
.icon-temp img {
	width: 70px;
	height: 70px;
}

.icon-temp p {
	font-size: 90px;
	margin-top: -27px;
}

.currentWeather ul {
	margin-left: 31%;
	font-size: 20px;
	margin-top: -92px;
}

.forecastWeather {
	display: flex;
	overflow-x: scroll;
	scrollbar-width: thin;
	margin: auto;
	width: 588px;
}


.forecastWeather li {
	display: flex;
    flex-direction: column;
    align-items: center;
	gap: 10px;
}

/* LISTADO DE ENLACES */

.link-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 20px;
}

.link-input {
	display: flex;
	flex-direction: column;
	gap: 20px;
}

#inputTitle {
	width: 300px;
}

#inputURL {
	width: 300px;
}

/* RELOJ DIGITAL */

.main-clock {
	display: grid;
	place-items: center;
	height: 100vh;
	background-color: grey;
}

.digital-clock {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 20px;
	width: 350px;
	height: 200px;
	gap: 30px;
	background-color: rgba(0, 0, 0, 0.355);
	border-radius: 10px;
	box-shadow:inset;
}

.clock {
	font-size: 60px;
	font-weight: 400;
	color: rgb(40, 238, 109);
}

.date {
	font-size: 26px;
	color: white;
}

.tip {
	font-size: 16px;
	color: rgb(40, 238, 109);
}